@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.header {
  background: black;
  color: white;
  padding: 0.8rem 0;
  width: 100%;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header ul li {
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-family: "Satisfy", cursive;
}

.search {
  border-radius: 15px;
  min-width: 40vw;
  padding: 0.6rem 1rem;
  border: none;
}

.headerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
