@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.nav {
  background: black;
  color: white;
  padding: 0.1rem 0;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav ul li {
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-family: "Satisfy", cursive;
}

.search {
  border-radius: 15px;
  min-width: 40vw;
  padding: 0.5rem 1rem;
  border: none;
}

.navGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
